{% extends 'main/base.html' %}

{% block title %}
О нас
{% endblock %}

 
{% block file %}
    <style>
        .rightpic {
        float: right; /* Выравнивание по правому краю */
        margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
    }
        p{
            font-size: 23pt;
        }
   </style>
 
    <h1 id="firstHeading" class="firstHeading mw-first-heading">Ala-Too International University</h1>
    <p><img src= 'https://upload.wikimedia.org/wikipedia/en/0/07/Ala-Too_International_University_Seal.png' class = 'rightpic'>
        The Ala-Too International University (Russian: Международный университет «Ала-Тоо»; Kyrgyz: Эл аралык Ататүрк-Алатоо Университети), formerly known as the International Atatürk-Alatoo University, is a private university located in Bishkek, Kyrgyzstan. It was established in 1996. The university offers graduate, master's, and doctoral programs. It is often ranked as one of Kyrgyzstan's most prestigious universities.[1]
        English is the primary medium of instruction at the university. However, some classes are taught in Russian and a few other classes are taught in Turkish.
        The Ala-Too International University is funded and run by the global Islamic education.[2] Following the 2016 Turkish coup d'état attempt, which the Turkish government blames on Gülen, the university changed its name from the International Atatürk-Alatoo University to the Ala-Too International University, appointed a Kyrgyz rector, and generally started to position itself more as a local institution.
    </p>
    
{% endblock %}  