{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

 
{% block file %}
<style>
    .rightpic {
    float: left; /* Выравнивание по правому краю */
    margin: 0 0 100px 5px; /* Отступы вокруг фотографии */
}
.rightpic2 {
    float: left; /* Выравнивание по правому краю */
    margin: 0 0 100px 5px; /* Отступы вокруг фотографии */
}
.rightpic3 {
    float: left; /* Выравнивание по правому краю */
    margin: 0 0 100px 5px; /* Отступы вокруг фотографии */
}
.rightpic4 {
    float: left; /* Выравнивание по правому краю */
    margin: 0 0 100px 5px; /* Отступы вокруг фотографии */
}
</style>
<img src="https://klike.net/uploads/posts/2020-10/1602584715_5.jpg" width="270" height="270" class = 'rightpic'>'
<img src="https://klike.net/uploads/posts/2020-10/1602584739_10.jpg" width="270" height="270" class = 'rightpic2'>'
<img src="https://klike.net/uploads/posts/2020-10/1602584785_14.jpg" width="270" height="270" class = 'rightpic3'>'
<img src="https://klike.net/uploads/posts/2020-10/1602584747_17.jpg" width="270" height="270" class = 'rightpic4'>'


{% endblock %}